<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.assembly.mysql.dao.GwmDealerMapper">
  <resultMap id="BaseResultMap" type="com.kylin.assembly.mysql.entity.GwmDealer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address_area" jdbcType="VARCHAR" property="addressArea" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="BaiduMapLng" jdbcType="VARCHAR" property="baidumaplng" />
    <result column="BaiduMapLat" jdbcType="VARCHAR" property="baidumaplat" />
    <result column="ShopSaleTel" jdbcType="VARCHAR" property="shopsaletel" />
    <result column="BusinessHours" jdbcType="VARCHAR" property="businesshours" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, address_area, city, province, area, address, BaiduMapLng, BaiduMapLat, 
    ShopSaleTel, BusinessHours
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gwm_dealer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gwm_dealer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kylin.assembly.mysql.entity.GwmDealer">
    insert into gwm_dealer (id, name, address_area, 
      city, province, area, 
      address, BaiduMapLng, BaiduMapLat, 
      ShopSaleTel, BusinessHours)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{addressArea,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{baidumaplng,jdbcType=VARCHAR}, #{baidumaplat,jdbcType=VARCHAR}, 
      #{shopsaletel,jdbcType=VARCHAR}, #{businesshours,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kylin.assembly.mysql.entity.GwmDealer">
    insert into gwm_dealer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="addressArea != null">
        address_area,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="baidumaplng != null">
        BaiduMapLng,
      </if>
      <if test="baidumaplat != null">
        BaiduMapLat,
      </if>
      <if test="shopsaletel != null">
        ShopSaleTel,
      </if>
      <if test="businesshours != null">
        BusinessHours,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="addressArea != null">
        #{addressArea,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="baidumaplng != null">
        #{baidumaplng,jdbcType=VARCHAR},
      </if>
      <if test="baidumaplat != null">
        #{baidumaplat,jdbcType=VARCHAR},
      </if>
      <if test="shopsaletel != null">
        #{shopsaletel,jdbcType=VARCHAR},
      </if>
      <if test="businesshours != null">
        #{businesshours,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kylin.assembly.mysql.entity.GwmDealer">
    update gwm_dealer
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="addressArea != null">
        address_area = #{addressArea,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="baidumaplng != null">
        BaiduMapLng = #{baidumaplng,jdbcType=VARCHAR},
      </if>
      <if test="baidumaplat != null">
        BaiduMapLat = #{baidumaplat,jdbcType=VARCHAR},
      </if>
      <if test="shopsaletel != null">
        ShopSaleTel = #{shopsaletel,jdbcType=VARCHAR},
      </if>
      <if test="businesshours != null">
        BusinessHours = #{businesshours,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kylin.assembly.mysql.entity.GwmDealer">
    update gwm_dealer
    set name = #{name,jdbcType=VARCHAR},
      address_area = #{addressArea,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      BaiduMapLng = #{baidumaplng,jdbcType=VARCHAR},
      BaiduMapLat = #{baidumaplat,jdbcType=VARCHAR},
      ShopSaleTel = #{shopsaletel,jdbcType=VARCHAR},
      BusinessHours = #{businesshours,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>